
:root {
	--primary-color-bg: #343434;
	--primary-color-text: #e4e4e4;
}

html, body {
	background-color: var(--primary-color-bg);
	color: var(--primary-color-text);

	height: 100%;
	width: 100%;
	margin: 0;
}

.counters {
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}

.counter {
	font-size: 3em;
	font-family: monospace;
	font-weight: 700;
}
